* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

  header{
  width:100%;
  height:50px;
  background-color: #ff9a4b;
  }

  main{
    width:960px;
    margin: 0 auto;
    display:flex;
  }

  .box{
    width:300px;
    margin:50px 30px 50px 0px;
    padding:10px;
    background-color: #eee;
    position: relative;
  }

  .box:last-child{
    margin-right:0px;
  }

  .image1{
    width:100%;
    height:150px;
    background-image: url(img/flow01.png);
    background-size:cover;
    background-position: bottom;
  }

   .image2{
    width:100%;
    height:150px;
    background-image: url(img/flow02.png);
    background-size:cover;
    background-position: bottom;
   }

    .image3{
    width:100%;
    height:150px;
    background-image: url(img/flow03.png);
    background-size:cover;
    background-position: bottom;
    }

  h3{
    margin:15px 0px 5px 0px;
  }

  p{
    font-size: 12px;
  }

  .step{
    background-color: #ff9a4b;
    color:#fff;
    position:absolute;
    top:0px;
    left:0px;
  }

   footer{
    width:100%;
    height:50px;
    background-color: #aaa
  }

  @media screen and (max-width: 768px){
    header{
      width:100%;
      }

      main{
      display:block;
      width:100%;
    }

     .box{
       width:90%;
       margin-left: 5%;
       margin-right: 5%;
     }

     .box:first-child{
       margin-top: 50px;
       margin-bottom: 20px;
     }

     .box:nth-child(2){
       margin-top:20px;
       margin-bottom:20px
     }

     .box:last-child{
       margin-top: 0px;
       margin-bottom:50px;
     }

  }